<div class='d-flex flex-column c-selected-flw'>
<% @users.each do |j| %>
<div class='d-flex flex-column w-100 justify-content-center'>
   <%= link_user_img(j) %>
   <div class='d-flex flex-column w-100 justify-content-center'>
<span class='font-weight-bold text-dark text-center'>
     <%= j.full_name %>
     </span>
     <span class='text-center'>@<%= j.username%></span>
     </div>
     <span class='mx-2 font-weight-bold align-self-centetr'>
     <%= btn_follow(j) %>
     </span>
     </div>
  <% end %> 
</div>

